{% extends "admin_panel/base.html" %}

{% block content %}

    <div>
        <form action="" method="Post" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="lesson" id="s">
                <option value="l" selected="base">nothing</option>
                {% for t in test_types_lessons %}
                    <option value="{{t.id}}">{{ t.lesson.name_kz }}</option>
                {% endfor %}
            </select>
            <br>
            <input name="file" type="file">
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}
